@model IEnumerable<MovieTicketBookingSystem.Models.Booking>

@{
    ViewData["Title"] = "Bookings History";
}

<h1>Bookings History</h1>

<table class="table table-striped table-hover mt-3">
    <thead class="table-dark">
        <tr>
            <th>Booking ID</th>
            <th>User Name</th>
            <th>Mobile Number</th>
            <th>Movie</th>
            <th>Show Time</th>
            <th>Seats Booked</th>
            <th>Booking Date</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.BookingId)</td>
            <td>@Html.DisplayFor(modelItem => item.UserName)</td>
            <td>@Html.DisplayFor(modelItem => item.MobileNumber)</td>
            <td>@Html.DisplayFor(modelItem => item.Movie!.MovieName)</td>
            <td>@item.Show!.ShowTime.ToString("g")</td>
            <td><span class="badge bg-info text-dark">@item.SeatsBooked</span></td>
            <td>@item.BookingDate.ToString("g")</td>
        </tr>
}
    </tbody>
</table>
